[2015-01-15 14:51] binki opened #3 "Create or link to official nuget package distribution from this project"
For many cases where barcodelib works as-is for developers, it would be great if it could be imported to a project via nuget. Providing it as-is encourages developers to copy/paste/maintain code that is not their own into their projects, which basically has the problems that come with bundling or statically linking against libraries.

So, if you could yourself provide a nuget package, endorse an e

[2015-01-16 13:35] bbarnhill commented on #3
this project is open source so if you want to create a pull request or help provide a nuget package that would be great.  Im all about supporting the community however we can.

[2015-01-27 14:36] binki commented on #3
(The pull request for this is #4).

[2015-02-04 15:06] binki commented on #3
Thanks for uploading the nuget package!

[2015-02-04 15:06] #3 closed

[2015-03-04 16:09] bbarnhill commented on #3
you are welcome ... thanks for contributing!!!

[2015-04-14 20:17] binki opened #5 "Add dynamic sizing Width/Height calculation feature"
In looking at the old barcodelib embedded in our unshareable project code, it looks like we rely on the the old image sizing behavior documented in the ChangeLog at [codeproject](http://www.codeproject.com/Articles/20823/Barcode-Image-Generation-Library):

There are a few things about how it looks that the current API works that are not nice here. First, to generate a barcode for an arbitrary stri

[2015-04-14 21:17] bbarnhill commented on #5
very good write up ... let me ponder this for a bit and read it again when I get home.  THIS is what this project was open sourced for.  Improvements and expansion of the original idea.  Finally someone that understands it and doesnt berate me on the coding. :) (yes I have a person that is berating me on the coding and pretty relentlessly I might add)

[2015-04-14 23:54] bbarnhill commented on #5
sounds good.  If you want to put a pull request together Ill anxiously await it so I can review it!!!  Thanks for the interest and I hope more people find this useful and worth contributing to.

[2015-04-15 16:30] binki commented on #5
pull is #6.

[2015-05-15 13:38] aanklewicz92 opened #7 "Generating UPC-E code doesn't work properly"
Hello,

I'm working on generating barcodes in my C# application and for UPC-E codes I'm using BarcodeLib. Unfortunatelly I have noticed that barcodes aren't generated properly. I've tested few online generators and all of them are generating the same barcode when BarcodeLib generates different. Example below.

Barcode generated online:
![upc-e_04252614](https://cloud.githubusercontent.com/assets/1

[2015-05-22 15:01] bbarnhill commented on #5
since we pulled that other code in are you ok with closing this issue?

[2015-05-22 15:05] bbarnhill commented on #7
interesting ... I just confirmed this online with an online reader.  Looks like Ill have to investigate this.  If you see why its doing it feel free to create a pull request to fix it.

[2015-05-22 17:49] #5 closed

[2015-08-30 22:24] bbarnhill commented on #7
I just tried to find the issue and its encoding just fine for me.  The first image is of it generating the barcode in the example app in this project.  The second is a screenshot of it being recognized as upce in an online barcode reader.

![proof](https://cloud.githubusercontent.com/assets/3878158/9569802/e37dae60-4f3b-11e5-9083-a21a59d484ca.png)
![proof2](https://cloud.githubusercontent.com/asse

[2015-08-31 06:28] Episodex commented on #7
I'm from the same team as @aanklewicz92 . I don't now remember all the details but I think the problem was that barcodelib allowed and generated barcodes with wrong check digit, but I can't be 100% sure now.
Anyway our final solution was to take the input, convert it digit-by-digit to UPC-A and then encode this UPC-A using barcodelib which worked in all cases. So maybe the problem is in decoding U

[2016-01-11 15:19] takwirira opened #18 "Compatibility with VS 2012"
Hi, I have VS 2012 Express for Windows Applications but when I try and open the project it says it's not compatible. Do you have a new version of the files please?

[2016-01-18 21:43] bbarnhill commented on #18
This was created with VS2012 ... I dont know what you mean by a newer copy of the project files.  The only file that changes between VS2008 and VS2012 was the solution file if Im not mistaken.

[2016-01-19 08:49] takwirira commented on #18
That's fine I managed to get to to work. Thanks so much

[2016-01-19 15:57] bbarnhill commented on #18
Glad you got it working.  Shouldnt have been too hard even if you needed to manually modify the sln file.  Hope you find it useful!!

[2016-01-19 15:57] #18 closed

[2016-01-19 20:22] binki commented on #18
@takwirira I recommend switching to VS Community Edition and updating to the latest release (2015) if possible. Staying outdated only causes pain ;-).

[2016-01-19 23:45] bbarnhill commented on #18
will look into this

[2016-05-06 10:14] aanklewicz92 commented on #7
It's been a while, but this may be useful. I found out that NuGet library version is somehow bugged. Localy generated DLL works fine.

[2016-07-30 00:39] barnhill commented on #7
you are correct ... Sorry I took so long to respond.  I totally missed this
email till I was cleaning out my email box.  I have a fix for it as its a 1
char change in the code that caused this.  I will have the code updated in
a few minutes even though I doubt you waited on this fix.  Sorry again for
not seeing this and I really have no excuse.  I value your input and I
really am glad that you too

[2016-07-30 07:47] takwirira commented on #7
No problem and thank you for following up and posting a fix. I'm sure it'll
help!

On 30 July 2016 at 01:39, Brad Barnhill <notifications@github.com> wrote:

[2016-08-01 04:25] barnhill commented on #7
Fixed with https://github.com/barnhill/barcodelib/commit/886eb9a865ba62a4014a272ddca83d58eaeb7260

[2016-08-01 04:25] #7 closed

[2016-08-31 10:14] WebsiteDeveloper opened #19 "Add Strong Name for usage in COM DLLs"
I would like to use this library in a com library i use but i need a strong name in the dll to invoke the function call.
Could you maybe add this or i could add a pull.

[2016-08-31 10:14] WebsiteDeveloper commented on #19
@barnhill

[2016-09-01 01:50] barnhill commented on #19
if you would like to add a pull request for this id be glad to accept pulls

[2017-03-01 13:55] WebsiteDeveloper commented on #19
Fixed by 972ccd4bd856b9b5289ca640242d00ae7c80c8c8

[2017-03-01 13:55] #19 closed

[2017-03-16 18:08] steve-sheppard opened #24 "Top LabelPositions Cutoff Barcode"
If any of the top LabelPostions are used, the label is drawn over the barcode and empty white space is left at the bottom of the encoded image.

![bottom](https://cloud.githubusercontent.com/assets/11685757/24011707/e1aa75b4-0a51-11e7-9f8a-0db9b6227c80.gif)

![top](https://cloud.githubusercontent.com/assets/11685757/24011711/e42790d8-0a51-11e7-9d5a-e72178969209.gif)

[2017-03-16 19:10] steve-sheppard commented on #24
I made the fix and created a pull request.  I'm pretty new to github, so let me know if I did anything improperly.

[2017-03-17 02:07] #24 closed

[2017-03-17 02:09] barnhill commented on #24
@steve-sheppard nope looks good to me.  Welcome to github and thanks for the contribution!! 👍

[2017-07-13 09:15] ChunYenChen opened #28 "I have a BarcodeLib question!! Please help me~"
Dear Brad Barnhill:
     Hello! I am Chun-Yen.I used your BarcodeLib open source since two years ago.Would you like me to solve my problem, please?.How can I set up the barcode's DPI?
Thank you very much!!!

[2017-07-18 15:40] piolo94 commented on #28
Hi! I'm having the same problem! On screen, everything is fine, but when i print it, it isn't much defined!

[2017-07-18 18:23] barnhill commented on #28
Im having a hard time deciphering what is wrong ... the library generates an image and you print it.  Is it not able to be read by a barcode reader?  Do you have any examples because any that I print on a laser printer have all scanned just fine.

[2017-07-20 03:58] ChunYenChen commented on #28
Hello Brad Barnhill:
It's not a wrong problem! Always many barcode readers can read the bar code is correct. But I ever had a reader always can't read the bar code. So if the library can set the DPI, I will generate the image to test my barcode reader. thanks!!

[2017-07-20 14:42] LordPinhead opened #29 "How to add FNC1 to Value"
Hi Brad,

i really like your Barcode Library, from all Libs we try´d, it works like a charm.
The only thing i need is what i have to add as an FNC1 Char.

In the Code128.cs Symbology file, i saw FNC1 is Char 200, so i tested it but it does not work for my Scanner when i try the following code:

[code]

Is my Test Scanner (some Jartech) not configured properly or did i something wrong in my Barcode

[2017-07-21 08:03] LordPinhead commented on #29
1) There is a Bug in Code128.cs when you want FNC1 Divider in the middle of your value, it will never find it and in FindStartorCodeCharacter() it looks like to me like a Copy-and-Paste Bug:

[code]

Maybe it should be:

[code]

The last ArraySelection is of by 1.

When i change it and build Barcodes, the scanner finds my FNC1 Code.

2) Printing a Label with 128: The FNC1 Divider is still in clear

[2017-07-27 08:49] WebsiteDeveloper commented on #28
@ChunYenChen you can just use the Height and Width Properties to set the image size.

[2017-08-05 18:26] barnhill commented on #29
Good catch on the array index being off.  Ill fix that now.

[2017-08-15 11:21] AndrewZenith opened #31 "using library in SSRS reports"
Library is now strong named (which is great), but for use in SSRS reports it needs to now be marked with AllowPartiallyTrustedCallers attribute as discussed here:

https://docs.microsoft.com/en-us/sql/reporting-services/custom-assemblies/using-strong-named-custom-assemblies

Without this using the library in an RDL generates the error: "That assembly does not allow partially trusted callers"

[2017-08-25 14:25] WebsiteDeveloper commented on #31
@AndrewZenith  i think i will put in a pull request sometime this weekend
@barnhill Any remarks on this?

[2017-08-26 00:30] barnhill commented on #31
Sounds good ... Create a PR and I'll review it :)

[2017-08-26 00:35] barnhill commented on #29
Has this issue been fixed with https://github.com/barnhill/barcodelib/commit/6c9b77bf1ef29fae8075145e25edd89273e63b92

I'll close this issue if so.

[2017-08-29 17:59] barnhill commented on #28
going to close this as answered by @WebsiteDeveloper

[2017-08-29 18:00] #28 closed

[2017-08-30 08:33] ignatandrei opened #32 "Could be a .NET Standard / .NET Core library ?"
Could be a .NET Standard / .NET Core library ?

[2017-09-18 19:41] nabber commented on #29
I'm doing some testing and I also need the FNC1 character.  How can I add this character into my "Value to Encode" field?

![image](https://user-images.githubusercontent.com/3247525/30561042-632a7c82-9c7f-11e7-9dcc-27fbf15dad89.png)

[2017-09-19 09:30] LordPinhead commented on #29
In theory, you could use ALT+200 - i did not use the gui, i used Unittests for that.

[2017-09-19 13:10] barnhill commented on #29
The included sample application isnt meant to cover all cases.  It was a quick and pretty dirty way to just showcase most of the libraries funcationality.  Its not production ready code (the sample app) or anything, just a quick POC.

[2017-09-19 13:11] barnhill commented on #29
@LordPinhead  did you see my comment above about asking if this has been fixed with 6c9b77b

[2017-09-26 19:30] LordPinhead commented on #29
@Barnhill yes it is solved.

[2017-09-26 19:30] #29 closed

[2017-09-29 11:16] UHDanGal opened #33 "A (probably) simple question"
Hi

I've found this page on my travels through trying to get this to work.

Full disclosure, I'm not a developer!

I've managed to get a string to render in SSRS, but when the length goes over 30 characters, I get a little red X instead.

So, my question(s) are:

1. Is is possible to render strings longer than 30 characters? If so, what might I be doing incorrectly?
2. If not, is it possible to co

[2017-09-29 13:09] barnhill commented on #33
What are you trying to encode longer than 30 chars?  Appending two barcodes together usually isn't possible.  That would not permit it to scan since most symbologies have guard bars on the ends

[2017-09-29 13:16] UHDanGal commented on #33
I'm finding that!

It's a few details of a patients attendance, it is currently handled by existing software, but we're unable to replicate it with anything more than 30 characters.

Identifiers for a clinic, a patient, a clinician and specialty information.

I think I'm nearly there, is there a way, do you know, to stop the left/or guard bar?

thanks for your reply

[2017-09-29 17:34] barnhill commented on #33
Trimming off the guard bars and slamming them together isn't going to
work.  You can encode more than 30 chars in c128 barcodes so I'd use those.

On Fri, Sep 29, 2017, 8:16 AM UHDanGal <notifications@github.com> wrote:

[2017-10-03 15:59] AndrewZenith commented on #31
I think I've finally worked out how to use GitHub from VS2017.  I have created a pull request.

[2017-10-11 09:41] 3rc4n opened #35 "Can I change the DPI?"
I would like to change the DPI from 96 to 300.

Is there any way to achieve this?

[2017-10-20 14:17] vishnushanmughan opened #36 "Is it possible save the barcode as vector image?"

[2017-10-21 23:46] barnhill commented on #36
no it does not support this ... I would take a look at a pull request though

[2017-10-21 23:47] #33 closed

[2017-10-21 23:48] barnhill commented on #31
Addressed by https://github.com/barnhill/barcodelib/pull/34

[2017-10-21 23:48] #31 closed

[2017-10-21 23:49] barnhill commented on #32
Can you be more specific?

[2017-11-13 18:52] A7medRamadan opened #37 "Can it support multi line label?"
I really loved your lib, but i can't make a multi line label, because i need more space to write information

[2017-11-14 18:27] A7medRamadan commented on #32
@ignatandrei  i think it's not possible, because the Library using System.Drawing which is not supported in .NET Standard

[2017-11-16 03:23] barnhill commented on #37
It doesnt currently support multi line labels but Id be open to seeing a pull request!!!

[2017-11-16 03:24] barnhill commented on #35
Are you talking about the printing?  This library just generates an image and you can print it at what ever DPI you want I would think.

[2017-11-16 14:44] Misiu commented on #32
@A7medRamadan what about .NET Standard 2.0?
@barnhill  there are alternatives to System.Drawing: https://blogs.msdn.microsoft.com/dotnet/2017/01/19/net-core-image-processing/

[2017-11-16 17:50] andrenpt opened #38 "When selecting Type EAN13 label only have 12 digits"
Hello,

When I generate a barcode of type EAN13 why is the label only displaying 12 digits ?

Thanks

[2017-11-17 14:28] andrenpt commented on #38
Hello again,

In order to replicate this issue you need to use this sizes (120,55):
`var image = b.Encode(BarcodeLib.TYPE.EAN13, barcodeNumber, Color.Black, Color.White, 120, 55);`

Thanks

[2017-11-18 03:15] barnhill commented on #38
The default is to put the exact data you encoded into the label ... now if you wanted to put the encoded value you are able to do that or you can put whatever you want in the label.  The check digit by default isnt put in the label.  The label functionality is pretty generic and applies to all symbologies but Id be open to pull requests that include specific labeling for symbology types.

[2018-01-22 09:06] danigoffi opened #39 "EAN13 improvement"
Hello Brad,
First of all : I very appreciate your work!
I have made a little improvement to your barcode library, in order to show the EAN13 label in 'standard' format.
Since I'm newbie to GitHub, how can I submit you the code so you can check if it is a good improvement?
I tried to push the commit with VS2015 but I get back an error.
P.S. Forgive me for my bad english, it's not my main language..

[2018-01-28 17:09] barnhill commented on #39
Just fork the project on GitHub and make your changes.  Then create a pull request in GitHub back to this library. I'll be glad to look at it.

[2018-01-28 23:57] barnhill commented on #32
Any idea how to use the .net core 2.0 libs to replace the drawing namespaces Im currently using?  Id gladly welcome a pull request!!!

[2018-01-30 01:51] barnhill commented on #35
I'm going to close this due to no response

[2018-01-30 01:51] #35 closed

[2018-02-12 23:15] shamanson opened #42 "GS1-128(EAN-128) Support"
Hello,
Is it possible to add support for GS1-128(EAN-128) code?

[2018-02-13 00:14] barnhill commented on #42
Code 128 is already supported.  GS1 is just a subset or set of rules on the data encoded.

[2018-02-13 04:06] #42 closed

[2018-02-13 10:23] shamanson commented on #42
Thank you for answer, and for your library too :)

--------------------------------
Regards,
Tamaz Andriashvili.

On Tue, Feb 13, 2018 at 8:06 AM, Brad Barnhill <notifications@github.com>
wrote:

[2018-03-14 14:33] phoenixproject opened #43 "Example requires update"

[2018-03-25 17:11] xav-stargate opened #44 "Read a barcode without Bitmap .Net Core"
Oups please delete this !

[2018-04-05 17:26] #43 closed

[2018-04-07 15:34] #44 closed

[2018-04-07 15:35] barnhill commented on #32
If anyone has the time to create a pull request I'd be glad to take a look

[2018-04-08 01:55] barnhill commented on #38
@andrenpt there is new functionality as of tonight to print EAN-13 labels in a more standard format.  Im going to close this since that is in now.

[2018-04-08 01:55] #38 closed

[2018-04-08 01:55] barnhill commented on #38
![ean-label](https://user-images.githubusercontent.com/3878158/38462095-0af3236e-3aa6-11e8-9f0a-4647b1e9c64b.JPG)

[2018-04-08 01:59] barnhill commented on #36
@vishnushanmughan would you be interested in adding this functionality via a pull request or should I close this?

[2018-04-08 02:02] barnhill commented on #39
Addressed with bd7bf7940ff67f1aef36fb89eb226d58656f424f

[2018-04-08 02:02] #39 closed

[2018-04-11 01:48] barnhill commented on #36
Closing as its been stale for ~6 months.

[2018-04-11 01:48] #36 closed

[2018-04-11 01:48] barnhill commented on #37
Closing as stale

[2018-04-11 01:48] #37 closed

[2018-05-16 12:16] teunlielu opened #45 "font not read"
I have two bugs fond:

1)   you must have:  b.AlternateLabel = ""
 null give an error about null exeption

(RawData.StartsWith(AlternateLabel) || (AlternateLabel == null)
startWith go first after  the null check
I cann't by past beter

2) you name size of 100 by 100 ean 13 and genereate label.
 you cann't read the  first nummer of barcode label
problem is by more sizes.
example on this sreentshot

[2018-05-18 02:20] liaoyalien opened #46 "Error when IncludeLabel is true and AlternateLable is null"
Hi barnhill,

 I met below error when 'IncludeLabel' is true and AlternateLable is null.
![image](https://user-images.githubusercontent.com/12839801/40212747-3840de26-5a84-11e8-9d34-8a63fd475059.png)

From stack trace,  I guess that it could be a null exception because that the AlternateLable is null.
![image](https://user-images.githubusercontent.com/12839801/40212828-ba64dfba-5a84-11e8-80f4-4a43

[2018-05-18 09:33] teunlielu commented on #45
Is possible solution to problem to solve it:

![image](https://user-images.githubusercontent.com/28528264/40227514-0aeffd20-5a8f-11e8-8d6e-3ae0d2fb1413.png)

[2018-05-28 22:12] zHaytam commented on #32
Hello, I added a .NET Standard 2 version in a Fork. It's available here: https://github.com/zHaytam/barcodelib

[2018-05-28 22:17] zHaytam opened #48 "Barcodes without data"
Hello,

Upong trying the library, the barcodes I get are always plain (without any data in them).
I tested it with the BarcodeLibTest project and also the Standard version (see Issue #32).

**Code:**
[code]

**Result:**
![Result](https://i.imgur.com/nZGWdZo.png)

Thanks.

[2018-05-28 22:28] zHaytam commented on #48
Apparently I have to set these properties:
[code]

Sorry.

[2018-05-28 22:29] #48 closed

[2018-05-29 01:08] barnhill commented on #32
@zhaytam I'd be glad to take a look at a pull request. I'm interested to see what the diff looks like.

[2018-05-29 01:22] zHaytam commented on #32
@barnhill Honestly there is no added code or nothing, just used System.Drawing.Common instead of the System.Drawing in .NET Framework.

[2018-05-29 01:38] barnhill commented on #32
This is going to require bumping the min framework supported to 4.5+ .... any one know of any problems doing that or have any reservations?

[2018-05-29 01:54] zHaytam commented on #32
Normally it shouldn't be a problem (choose .NET Standard instead of Core) but if you want you could package it as a different library to avoid problems.

[2018-05-30 03:30] barnhill commented on #32
@ignatandrei @zHaytam @Misiu would you guys take a look at https://github.com/barnhill/barcodelib/pull/49

There is a branch here named [net-core-conversion] that you can pull down to take a look if you like.  Thanks for the motivation to get this done and PLEASE let me know if you guys see something that should change.

[2018-06-02 12:57] LordPinhead commented on #45
Possible solution could be printing the Numbers above the Barcode Layer and add some White Space at starting and ending of the Numbercode. Or the solution you showed but I never saw that on an barcode or in an Barcode lib in my life.

I had in my previous work a fork solving some problems with the resolution, maybe setting the Image Resolution to 300 px could solve it. Unfortunately i quit before

[2018-06-02 22:41] barnhill commented on #46
closing this issue as resolved with the above merge

[2018-06-02 22:41] #46 closed

[2018-06-02 22:42] barnhill commented on #32
Pull request for this https://github.com/barnhill/barcodelib/pull/49

[2018-07-21 18:06] barnhill commented on #32
@ignatandrei @zHaytam @Misiu unless any objections are noted Im going to merge the pull request I have made to update to support .NET Core 2.0 and .NET Standard 4.6.2

[2018-07-25 14:18] tschennie opened #50 "Insufficient memory error"
I'm using the bardcodelib to generate barcodes within PDFs by RDLC-Designer.
If many people use our system at the same time, sometimes the PDF will be generated, but the barcode on it is missing and we got following error:

[code]

Code snippet:
[code]

We already gave more power to the azure webservices, but this didn't solve the problem.. Do you know what's the problem?

[2018-07-25 14:41] binki commented on #50
Have you tried disposing the returned image? I think since [`Bitmap`](https://docs.microsoft.com/en-us/dotnet/api/system.drawing.bitmap?view=netframework-4.7.2) wraps system GDI+ objects, creating a lot without explicitly cleaning them up might exacerbate the situation.

Sorry, I haven’t tried to reproduce the issue, so this is just a guess.

[2018-07-25 14:42] binki commented on #50
You could use code like:

[code]

[2018-07-25 14:46] barnhill commented on #50
@tschennie I think @binki is headed in the right direction.  Bitmaps will eat up tons of memory if you dont release them.  Ill leave this open till you comment back and let us know if that helps.

[2018-07-25 20:49] jeffreyleblanc225 opened #51 "Customize the Label text?"
Can we set the label text to something besides the string encoded in the barcode?
The string that shows up when IncludeLabel is set to true

[2018-07-25 21:19] barnhill commented on #51
I think `AlternateLabel ` is what you are looking for.

[2018-07-26 09:18] tschennie commented on #50
Thanks! I will try the code snippet from @binki and come back, if it's solved.

[2018-07-27 04:02] barnhill commented on #50
@tschennie keep me posted so I can close this issue out if its solved.

[2018-08-22 14:27] tschennie commented on #50
I deployed the code snippet but now we got following error:
`ELABEL_GENERIC-1: Out of memory`

Any other ideas?

[2018-08-22 14:58] barnhill commented on #50
eww looks like a memory leak in the label generation

[2018-08-22 15:10] tschennie commented on #50
Thats means? Is the string to encode too long? What can I change?

[2018-08-22 15:32] barnhill commented on #50
how long is the string to encode?

[2018-08-22 16:26] barnhill commented on #50
How long is the string you are encoding?

On Wed, Aug 22, 2018, 10:11 AM Jennifer Deigendesch <
notifications@github.com> wrote:

[2018-08-24 13:04] barnhill commented on #50
Ok just making sure ... that should definitely be fine unless that image is MASSIVE.  I should probably put some hard limits on the sizes that are able to be specified as the size.

[2018-08-24 14:04] tschennie commented on #50
No it's just a barcode on a shipping slip.. But sometimes it must be printed many shipping slips (with barcode on it) in series. Could that also be the problem?

[2018-08-24 18:47] barnhill commented on #50
That would only be the problem if you didnt release the bitmap.  Then it would run out of memory like this.

[2018-08-24 18:50] barnhill commented on #50
int Lenght = 1000 is gonna be a BIG ole image and would be long in an out of control loop to cause an out of memory error.  A side note too ... only generate the image to be the size you need to put directly on there as resizing images can cause blurring along the edges of black and white bars and this can cause scanners not to read them.  This is inherent to image resizing though and Im sure you

[2018-10-04 07:01] honzakuzel1989 opened #53 "The example does not generate code with label"
Hello,
I tried your nice library and i was suprised that your example source code does not generate your example barcode (barcode with label). Why?? Is it any type of misunderstanding or incomplete example?

Thanks!

[2018-10-04 07:52] honzakuzel1989 opened #54 "The UPCA with IncludeLabel throws exception"
Hello,
your example code generate barcode without label. When I set IncludeLabel property I get ArgumentNullException. I suppose that is because I have to set AlternateLabel but I do not understand why.

Is it a bug or a feature?

Thanks.

[2018-10-28 22:51] kevball2 opened #56 "BarcodeLib Reference could not be found."
When trying to build the .net core branch build and test app there is an error that the BarcodeLib reference in BarcordLibTest could not be found. Build fails to complete

Steps to re-create

download net-core-conversion branch with GitHub desktop
launch solution files with VS 2017 (15.8.8)
Build solution.
Receive the following errors
![image](https://user-images.githubusercontent.com/22545150/476

[2018-10-29 05:29] barnhill commented on #56
hum ... Ill take a look at this but its because I was converting this to a .NET core library so it can be more widely used and the test application doesnt allow inclusion of Core libs.  I might have to do some investigating to figure out how to handle this and have a build for .net core and standard in the project.

[2018-10-29 21:21] barnhill commented on #56
I was thinking about this all wrong.  I should have been targeting .net standard and not .net core.  This would give this library the widest availability.

[2018-10-30 03:49] barnhill commented on #56
@kevball2  want to take a look at the latest commit in that branch?  It should convert the library over to .NET Standard.  It does use a nuget package for System.Drawing.Common since thats not normally available in .NET Standard or Core.

[2018-10-30 19:16] kevball2 commented on #56
@barnhill  Everything loads better, Just have to work out the Nuget Package, The Nuget reference you have for the BarcodeStandard works fine, but the reference to it in the Example could not be found.
![image](https://user-images.githubusercontent.com/22545150/47743948-333d1100-dc4e-11e8-8a29-4c2c2f0476ac.png)

This is most likely is due to my lack of knowledge with Nuget. Learning by doing!

[2018-10-30 20:30] #56 closed

[2018-10-30 22:50] barnhill commented on #56
Granted I haven't uploaded to the nuget site as an official release till
that branch merges.

Brad Barnhill
bradbarnhill@hotmail.com

On Tue, Oct 30, 2018, 2:21 PM Kevin <notifications@github.com> wrote:

[2018-11-24 12:33] #51 closed

[2018-11-24 12:35] barnhill commented on #50
@tschennie  one more thought on this is you could always use a 'using' statement in C# for that memory stream so its dispose is called as soon as you exit the using block.

[2018-11-24 12:36] barnhill commented on #32
.NET Standard 2.0 branch has been merged and artifact uploaded to nuget.org

[2018-11-24 12:36] #32 closed

[2018-11-24 12:39] barnhill commented on #54
@honzakuzel1989 I think this bug was just addressed in the latest pull https://github.com/barnhill/barcodelib/pull/57

[2018-11-24 12:39] barnhill commented on #54
Closing unless you still see the bug

[2018-11-24 12:39] #54 closed

[2018-11-24 12:41] barnhill commented on #53
![capture](https://user-images.githubusercontent.com/3878158/48968350-fe557d00-efb3-11e8-8173-1bc803505b7c.JPG)

[2018-11-24 12:42] barnhill commented on #53
I just used the example app and the default parameters EXCEPT I set generate label to true by checking the box.

[2018-11-24 12:42] #53 closed

[2018-11-25 21:07] barnhill commented on #50
@tschennie @binki any new updates on this?

[2018-11-28 13:55] Kramb opened #58 "Code 128C throws exception when FNC1 (char 200) is present"
I have checked the Code128.cs file and on line 174, within the conditional statement part `(Char.IsNumber(s[1]) || s[1] == Convert.ToChar(200))`, I believe that the `s[1] == Convert.ToChar(200)` should also check the first position (`s[0]`) in the event that the StartCharacter is not present.
If the StartCharacter is not present, and the barcode requires an FNC1 then the function should be in the

[2018-11-29 04:36] barnhill commented on #58
@Kramb sure Im open to pull request if you have suggested fixes

[2018-12-17 09:29] Sturzi79 opened #59 "EGETXML-2: There was an error generating the XML document."
Updated to version 2.0 the library throws error described in title.
Downgraded to version 1.3 it works as expected with no error.

Sample code:
            var code = "85000923846235";

            BarcodeLib.Barcode b = new BarcodeLib.Barcode();
            b.Alignment = BarcodeLib.AlignmentPositions.CENTER;
            BarcodeLib.TYPE type = BarcodeLib.TYPE.Interleaved2of5;
            b.Include

[2018-12-18 00:07] barnhill commented on #59
I threw the following in the test app and it worked without error:

`            var code = "85000923846235";
            BarcodeLib.Barcode b = new BarcodeLib.Barcode();
            b.Alignment = BarcodeLib.AlignmentPositions.CENTER;
            BarcodeLib.TYPE type = BarcodeLib.TYPE.Interleaved2of5;
            b.IncludeLabel = true;
            b.RotateFlipType = RotateFlipType.RotateNoneFlipNo

[2018-12-18 05:20] barnhill commented on #50
@tschennie @binki I have identified a major leak.  The library incorrectly implements the IDisposable interface.  I took @tschennie code and created a for loop generating 10k barcodes.  It would spike in memory and never release it.  I have implemented and released resources in a few places that I found issues. Now instead of those causing memory to spike to over 1 gig in less than 5 seconds, I ra

[2018-12-18 05:21] barnhill commented on #50
![capture](https://user-images.githubusercontent.com/3878158/50133743-79781f00-0252-11e9-8e3d-6c5572d17a70.JPG)

[2018-12-18 06:08] barnhill commented on #50
Marking this as fixed with https://github.com/barnhill/barcodelib/commit/70f2a5d776753f1d1acb3f5dfede20111ad17e91

Let me know if you see any more like this.  VERY nice catch.

[2018-12-18 06:08] #50 closed

[2018-12-18 07:51] Sturzi79 commented on #59
public static int CalculateCheckDigit(string ean)
        {
            var multiplier = 3;
            var checkNumber = 0;
            var numb = 0;

            for (int i = 0; i < ean.Length; i++)
            {
                if (int.TryParse(ean.Substring(i, 1), out numb))
                {
                    checkNumber += numb * multiplier;
                    multiplier = (multiplier ==

[2018-12-19 01:15] barnhill commented on #59
This check digit code is already in the library ... You are aware of that right?

[2018-12-19 07:31] Sturzi79 commented on #59
Do you mean the library has a built-in method to generate a check digit like the method above do it?
If so can you give me a hint where to find and to use? I can't find it by myself.

[2018-12-20 02:46] barnhill commented on #59
Oops I mislead you.  There is no Mod10 check digit for Interleaved 2 of 5 but there will be soon :)

[2018-12-20 03:27] #59 closed, assigned to barnhill

[2019-01-16 22:42] tsurrdurr opened #61 "Code 128 barcodes text cuts off after 37 symbols"
Hello, I've encountered this bug (i think it is) where any symbols in StringToEncode past 37th passed to method
`barcode.Encode(TYPE.CODE128, "somelongtext", Color.Black, Color.White, 300, 150);`
aren't displayed as symbols under the bars. The bars for these cut off numbers though are still generated.
here for example:
`barcode.Encode(TYPE.CODE128, "236870469325449301543589144351218890486", Color.

[2019-01-16 22:56] barnhill commented on #61
37 chars in 300px width?  Ill have to look but I think there is a way to specify the font to use.

[2019-01-16 23:55] tsurrdurr commented on #61
Okay, my bad, the width advice actually worked. Increasing it to 315 let me fit in just those 2 extra symbols I wanted.
I thought it wouldn't work because I tested it in some older version of the library and it just stretched the symbols instead.
Thank you!

[2019-01-16 23:55] #61 closed

[2019-01-17 03:18] barnhill commented on #61
Hahaha not a problem at all!!!  I just thought that was a bit small for that many chars.  Let me know if I can help you out in the future.

[2019-01-24 15:50] steveshourds opened #62 "Visual Studio 2017 - .net framework 4.5.2"
Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not install package 'BarcodeLib 2.2.1'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5.2', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

[2019-01-25 10:16] PhilipMur commented on #62
I am also experiencing the same problem .
I have tried to install on every target frame work from ( 4.5.0 > 4.7.1 ) .
It will not install BarcodeLib versions ( 2.0.0 > 2.2.1) from the NuGet .
It will install version 1.3.0.
Can you make revisions to the target dependencies the same as version 1.3.0 please.
Very good project by the way.

[2019-01-27 19:55] barnhill commented on #62
Im going to setup a new project here and use 2.2.1 from nuget and see what happens.

[2019-01-27 20:11] barnhill commented on #62
From what Im seeing the System.Drawing.Common which is a dependency of v2.0.0+ requires .NET 4.6.1 or greater to be the target.  With v2 of the library there was a HUGE refactor to be a .NET standard library instead of just targeting windows deployments, it was changed to support linux and mono developers too.  Let me know if this makes sense.  v1.3.0 thats still available for installation will su

[2019-01-27 20:41] PhilipMur commented on #62
Hello,

I have targeted from 4.5. NET all the way up to 4.7. NET and rebuilt
everytime before trying to get again to install BarcodeLib version 2+ from
NuGet.

I am using Visual Studio 2015 express and it would not install.
I will try again in Visual Studio 2017 community later and see if it will
install.

On Sun 27 Jan 2019, 20:11 Brad Barnhill <notifications@github.com wrote:

[2019-01-28 00:06] PhilipMur commented on #62
I have tried with 30 mins to try install BarcodeLib v2.2.1 on Visual Studio Express 2015 target framework 4.7 and installed System.Drawing.Common v4.5.1 but without success (FAILED) .

I am however able to install BarcodeLib v2.2.1 on Visual Studio 2017 target framework 4.7 and Installed System.Drawing.Common v4.5.1 and success ( ALL OK ).

I don't know why that is and i cannot spend too much time

[2019-01-28 00:41] barnhill commented on #62
Awesome!!! Glad you find it easy to use.

[2019-02-13 21:09] cramirezoliveros opened #63 "text to be clearer?"
is there a way for the label(text) to be clearer?, label(text) comes out pixilated
Thank you

[2019-02-13 22:19] barnhill commented on #63
@cramirezoliveros do you have an example that you are generating that is pixelated?

[2019-02-13 22:42] cramirezoliveros commented on #63
![captura](https://user-images.githubusercontent.com/2816203/52749285-adec2b00-2fb6-11e9-8140-f333b55fcf81.PNG)

[2019-02-18 17:18] barnhill commented on #63
What encoding are you using?  This does not look possible since the rest of the image isnt pixelated but only the text is.   Something is fishy here.

[2019-02-19 12:16] cramirezoliveros commented on #63
I'm using Code 128

[2019-02-19 13:59] barnhill commented on #63
Size you are generating?  I am getting clear C128 encodings with labels.

[2019-03-06 19:05] riplikash commented on #42
@barnhill It's good to know GS1 is supported, but I'm not seeing any documentation on how it would be configured to add the Function-1 character immediately after the start character.

[2019-03-20 14:34] vidoa opened #64 "code-128"
Hi,
I'm trying to generate a code-128 barcode using the library. The problem is that the barcode generated differs from the barcode generated from any other online tool I tried. Most of it is the same but there is one section that is different. I was able to read both barcodes using a free android barcode reader app and the data is the same. I'm a bit confused how two different code-128 barcodes c

[2019-03-20 15:23] barnhill commented on #64
The specs for dynamic code 128 are vague. It will automatically switch
between encodings based on the data being encoded to try to use code128-C
if it can.  This will save space and generate a more compressed barcode if
possible.  When it switchs encodings can be left up to the implementation
though to some degree.  Some are more aggressive than others.

Brad Barnhill, MSN, RN
bradbarnhill@hotmail

[2019-03-20 15:55] vidoa commented on #64
That explains the difference.
Is there a way to force the library to encode using code128 and not switching to 128-C regardless the data?
Thank you.

[2019-03-20 16:12] barnhill commented on #64
Yea you can force it to A, B or C.  Now your data will have to be
compatible with that encoding type and if it's all numeric I'd suggest C to
compress the barcode by half.

Brad Barnhill, MSN, RN
bradbarnhill@hotmail.com

On Wed, Mar 20, 2019, 10:55 AM vidoa <notifications@github.com> wrote:

[2019-03-21 01:35] barnhill commented on #63
@cramirezoliveros  Im going to close this as I am unable to recreate this without more information. (Size specified when encoding, Code 128 encoding type selected to encode with ... etc)

[2019-03-21 01:36] barnhill commented on #62
@PhilipMur are we good to close this?  Is there something else I need to address?

[2019-03-21 01:40] barnhill commented on #45
The problem with just adding arbitrary space before and after the barcode is that the consumer has specified a specific width for the barcode image to be and adding space for the number is either going to:
1. increase this beyond what is specified to accommodate this space.
2. encroach on the space to draw the barcode and shrink the barcode width itself more.

Im not sure which or if either is rea

[2019-03-21 01:50] PhilipMur commented on #62
Yep you resolved the issue thanks,
close it.

Philip

On Thu 21 Mar 2019, 01:36 Brad Barnhill, <notifications@github.com> wrote:

[2019-03-21 01:55] vidoa commented on #64
After some digging I found out why the barcodes are different.
Because my numbers have odd (19) digits if I use dynamic code 128 and don't specify the sub-type (A, B or C) your library is using code128C for the first 18 digits (9 groups x 2 digits) and code128A for the last 19th single digit. All others code128 generators are using code128B for the last 19th single digit. Technically, both barcode

[2019-03-25 15:08] vidoa commented on #64
I switched the two IFs that are choosing the encoding (128A or128B) for the last single digit in Code128.cs at lines 194 and 209 and now it works as I want. Now 128B has higher priority than 128A. For me 128B looks more common in cases like this.

[2019-03-25 15:08] #64 closed

[2019-03-29 07:53] BhargavaNRao opened #65 "value cannot be null error while converting number to TYPE UPC-A"
Hi,

I am using BarcodeLib version 1.3.0 as my project framework is below 4.6.1.

I am not able to convert a number to the barcode of TYPE UPC-A. Though I can convert to another type like CODE-128.

Below is the error screenshot which I am getting.
![image](https://user-images.githubusercontent.com/37331431/55216315-68ac5180-5222-11e9-9575-36c43807bb4d.png)

**Note:** All parameters have values an

[2019-03-29 13:08] barnhill commented on #65
@BhargavaNRao Ill take a look.

[2019-03-29 13:12] barnhill commented on #65
@BhargavaNRao it appears this is probably something that was fixed in 2.2.1 with this commit 39f691a29071f2cfed0cc15f0107b9dc31cd0e66

[2019-04-01 13:40] barnhill commented on #65
@BhargavaNRao can you confirm?

[2019-04-01 13:41] barnhill opened #66 "Code-128C needs to support FNC1 char"
Code-128C needs to support the FNC1 char as its valid as well as numeric values

[2019-04-02 06:10] BhargavaNRao commented on #65
@barnhill From the commit  #39f691a, I got to know that the exception occurs when we include the label. So I am generating barcode without the label. This resolves the issue.

[2019-06-11 08:53] teunlielu commented on #45
Sorry for late response. best is to take up space including for numbers such as size. so space becomes smaller.
These belong to the barcode. Behelva if one chooses not to mention text.
@LordPinhead  have you  a fixe?

[2019-07-27 04:50] nstone101 opened #68 "String parameter, can JSON be used somehow?"
Would there be a way to use JSON as the encode-able string? Has anyone else tried that.
I've had some issues with compiling the information that I want encoded with under my barcode. What's the best way to do this? I just said json as it's a natural go-to for alot of things, and it seems to be popular in the php bunch of barcode apps and plugins. I'm building a client to take in a create barcodes.

[2019-07-27 06:08] barnhill commented on #68
I guess you could but I'm sure even code 128 is going to be too long.  This
sounds like a 2d barcode scenario.

Brad Barnhill, MSN, RN
bradbarnhill@hotmail.com

On Fri, Jul 26, 2019, 9:50 PM Nick Stone <notifications@github.com> wrote:

[2019-08-16 14:09] bigbob556677 opened #70 "Access Encoded Value Without Running Through Image Generation"
I think it would be very beneficial to move the encoding of the barcode to its own public function so that you can get the actual binary value of the barcode without actually having to go through the whole generation process.

I am writing a library that interfaces with yours in order to render barcodes as dxf files(for AutoCad drawings). Returning the binary EncodedValue of the Barcode object is

[2019-08-18 17:42] barnhill commented on #70
Of course ... Create a PR and I'll review it for sure!!

[2019-08-19 20:08] bigbob556677 commented on #70
I submitted the request.

I wasn't quite sure what to name the method so I simply did GenerateBarcode.

Naming the new method Encode seems more descriptive, and passing the image generation to a different function named "GenerateImage" or something seems to be more ideal, but something like that would no doubt break the API since the "Encode" method is so heavily used.

If you think of a more desc

[2019-08-30 21:32] AnthonyVO commented on #62
@barnhill, I realize this issue is closed but I found another solution I would like to discuss with you before releasing. Not sure how I can send you a private gist or message.

[2019-09-06 06:06] mxq00812314 opened #72 "How to Set the Narrow cell?"
How to Set Bar Code Density? Minimizing Barcode Width

[2019-09-07 19:07] barnhill commented on #72
? you set the width you want to generate and it will calculate the bar size to draw in that area

[2019-09-07 19:08] barnhill commented on #70
related to https://github.com/barnhill/barcodelib/pull/71

[2019-09-07 19:08] barnhill commented on #70
I gotta find time to review this

[2019-09-07 19:29] barnhill commented on #70
Merged

[2019-09-07 19:29] #70 closed

[2019-09-07 19:31] #62 closed

[2019-09-07 19:32] barnhill commented on #68
Closing as answered

[2019-09-07 19:32] #68 closed

[2019-09-07 19:56] barnhill commented on #62
Open a new issue and we can discuss in there.  I like to keep issues from
different parties separate.

On Fri, Aug 30, 2019 at 4:32 PM Anthony van Orizande <
notifications@github.com> wrote:

[2019-09-10 14:56] AnthonyVO opened #73 "Single .cs file delivery for c# library projects."
I also ran into the issue: https://github.com/barnhill/barcodelib/issues/62

I found that the problem was not with the code but the project container.

By extracting and recomposing the code from this project into a single class file, I found that I could solve this issue and gain a couple of other valuable wins.  No extra DLL to maintain and distribute, and smaller builds.

By a single class file

[2019-09-11 09:44] jaymarvels opened #74 "QR Code"
Is there anyway to generate QR Codes with this library?

[2019-09-11 15:45] SjsolisZXA commented on #74
QR Code support would reduce the number of NuGet packages I use.

[2019-09-11 15:50] SjsolisZXA opened #75 "Missing Numbers on Barcodes"
Hello,

For Types UPCA, and CODE128C bar codes, the numbers are not generated with the output Image object. Below is my code:

[code]

[2019-09-11 15:53] AnthonyVO commented on #75
You should add the following..
`b.IncludeLabel = true;`

[2019-09-11 15:57] #75 closed

[2019-09-11 16:00] SjsolisZXA opened #76 "PDF417 Support"
By any chance is support for PDF417 barcodes going to be implemented at some point? This addition would help me get rid of another NuGet plugin.

Thanks!

[2019-09-14 23:53] barnhill commented on #76
Id love to support 2d barcodes but I dont know enough about PDF417 to implement it :(  I would love to have a pull request to have it supported in the library though.

[2019-09-15 00:10] barnhill commented on #73
I dont care that you use it as its open source and free.  I do not recommend doing this from a maintenance standpoint.  It pretty much goes against modular and sensible design but I guess everyone has a need.

[2019-09-19 11:40] eugenem opened #77 "IIS deployment fails"
I can generate barcodes from visual studio, but when I deploy to IIS, it fails with some "Method not found" exception.

VS 2017, .NET 4.7.1, IIS 10

[2019-09-26 16:50] AnthonyVO commented on #73
That is the reason for the program.   If I did this by hand then you are correct, it would be insane.

Because the code always builds an identical structure, then I can easily diff between them to see the changes.  I just watch for a new release, grab a copy and convert it to a single file.   I can then easily diff the versions.  In some ways it is even easier because all of your project's changes

[2019-09-30 04:25] KasatO commented on #74
You are Developer next FMM Pre Game Editor?

[2019-09-30 07:38] jaymarvels commented on #74
@KasatO  Yep :)

[2019-09-30 07:44] KasatO commented on #74
Can you open source FMM17 Pre Game Editor for me?

[2019-09-30 07:46] KasatO commented on #74
@jaymarvels  Can you open source FMM17 Pre Game Editor for me?

[2019-09-30 15:45] barnhill commented on #74
Id love to have QR code support in the library if anyone knows enough about QR codes to help

[2019-10-14 14:39] AndrewZenith opened #78 "Need AllowPartiallyTrustedCallers for SSRS generation (again!)"
This was previously in the assemblyinfo.cs:

[assembly:AllowPartiallyTrustedCallers]

From what I see on .Net Standard 2.0 this can just be added before the namespace.

[2019-10-28 20:14] rob313663 commented on #63
Doing a default size Code 128 gives a bit pixelated text for me:

var b = new BarcodeLib.Barcode();
b.IncludeLabel = true;
var i = b.Encode(BarcodeLib.TYPE.CODE128, "AGG460");
i.Save(@"C:\temp\c128fuzzy.png", ImageFormat.Png);

Doing:
var i = b.Encode(BarcodeLib.TYPE.CODE128, "AGG460", 1000, 300);

Gives a much bigger barcode but very small and pixelated text.

I do not get that smoothed pixelated

[2019-10-28 20:25] rob313663 commented on #45
![image](https://user-images.githubusercontent.com/23123057/67714994-4ef60700-f9c9-11e9-8566-49001c2f54d8.png)

@teunlielu, what you used to generated that barcode is not correct too. There should be a spacing after the 8.

[2019-10-28 20:43] rob313663 commented on #45
The above code was generated with a font where the bars and spaces are defined as separate glyphs, together with the OCR font digit below it. @barnhill has made a library for generating pixel based images, not vector based, so any text (vector based) used as human readable text below the bars and spaces will probably never be perfect.

![image](https://user-images.githubusercontent.com/23123057/67

[2019-10-28 21:07] teunlielu commented on #45
@rob313663 how would you solve? Vectorbase is not option. I think so. Is better with space but to smalle for hunan for reading.

[2019-10-28 21:54] rob313663 commented on #45
@teunlielu Personally I already solved it. I made a font, exactly following the specifications of the EAN/UPC codes. I did that in 1997. Those fonts are not open source so I can't give it to you, we even stopped selling it because it generated too much support (never give a sharp knife to a child).

barcodelib is for generating images of barcodes, the machine readable part, which I think it does i

[2019-10-28 22:14] rob313663 commented on #45
@teunlielu And I am not a developer of barcodelib, or even a contributor, just trying to pitch in with my knowledge of barcodes.

[2019-10-29 19:52] rob313663 commented on #45
@teunlielu will something like this do?

`            var b = new BarcodeLib.Barcode();
            var i = b.Encode(BarcodeLib.TYPE.EAN13, "8901072002478");

            Image resultImage = new Bitmap(i.Width+200, i.Height+50, PixelFormat.Format24bppRgb);

            Font font = new Font("Courier New", 26 * 1.33f, FontStyle.Regular, GraphicsUnit.Pixel);
            SolidBrush drawBrush = new Sol

[2019-10-29 20:46] teunlielu commented on #45
I have works at the moment old versions this lib. Give this same output of your. New idea of barcode format is beautyfuller. But old works for me fine. We have two options change code render old version or is possible to fix this bug.

[2019-11-01 14:41] AmineMessabhia commented on #38
Hey @barnhill,
First of all, you're awesome!! I found your library and I was soooo relieved i did.
I have version 2.2.2 of the library, but this is how my Barcode EAN-13 shows:

![image](https://user-images.githubusercontent.com/28136152/68032205-814f7f00-fcbd-11e9-9786-0a2155589205.png)

Also, here is my code for it:

`

BarcodeLib.Barcode b = new BarcodeLib.Barcode("6132502917419", BarcodeLib.TY

[2019-11-03 20:51] barnhill commented on #66
Sounds logical and a way to get what Ive had a LOT of requests for ... GS1-128 support

[2019-11-03 21:35] barnhill commented on #38
Im pretty sure I moved this below the starting lines.  You would need to modify the label method for EAN13 if you want to move it back on the left side of the lines.  Its going to require calculation of the width of the text since you have to start drawing the barcode on the right side of that.

[2019-11-03 22:59] barnhill commented on #78
Added this to the main BarcodeLib.cs file before the namespace

[2019-11-04 01:50] barnhill commented on #78
published a new version of the nuget package (2.2.3.0) that should have this in there.  Log a new issue if its not fixed.  Closing this one as fixed with: https://github.com/barnhill/barcodelib/commit/a51edbc3cef27d4cd896538e3cc1eb019d3bdec8

[2019-11-04 01:50] #78 closed

[2019-11-04 21:29] rob313663 opened #80 "[Question] System.Drawing.Common 4.0.0.1"
![image](https://user-images.githubusercontent.com/23123057/68159147-80368000-ff51-11e9-9146-e08553eb4722.png)

I have managed to solve this, a bit brutally, probably in the wrong way.

I am planning to make changes that will affect csproj and maybe the solution and then my brutal solution to this problem won't work.

I am thinking this has to depend on something in my environment that is wrong. C

[2019-11-07 13:49] barnhill commented on #80
Im not sure but I do have .NET Core 2.0 installed

[2019-11-10 00:26] barnhill commented on #77
Not sure ... I dont use this in any IIS projects but I know some of the community does

[2019-11-10 00:26] #77 closed

[2019-11-10 00:27] #76 closed

[2019-11-10 00:27] barnhill commented on #74
I accept pull requests if you want to add it

[2019-11-10 00:27] #74 closed

[2019-11-10 00:40] barnhill commented on #72
It already minimizes the width given the data to encode and the width specified.  Closing.

[2019-11-10 00:40] #72 closed

[2019-11-10 00:49] barnhill commented on #73
Im also a believer in the KISS method ... this just causes you more work to stay up to date with dependencies.  This type of dependency management just does not scale, takes lots of work to update each dependency ... for no real benefit.

You can keep your dependencies at a certain version and it wont get auto updated till you tell it to use a newer version of that dependency.

Ill close with this

[2019-11-10 00:49] #73 closed

[2019-11-10 00:53] barnhill commented on #63
Yeah Im not sure but it does look like a lossy file format from the pixelated image.

[2019-11-10 00:53] barnhill commented on #63
Closing since he has not replied in 10 months

[2019-11-10 00:53] #63 closed

[2020-04-03 10:36] Guyz1 opened #84 "I can't install barcodelib, could someone help me?"
I'm getting this error message from installing via nuget:

[code]

Could someone help me install?

[2020-04-03 23:34] barnhill commented on #84
What version of the framework does your application target

[2020-04-04 13:42] Guyz1 commented on #84
I can't remember because i changed it

after changing to .net framework 4.7.2 it just installs and works fine!

[2020-04-05 04:35] #80 closed

[2020-04-05 04:47] Guyz1 commented on #84
How do you usually install it?

Do you just install it from nuget?

I assumed nuget was hassle free but I'm wrong sometimes things don't install and I don't know why

[2020-04-07 03:24] danielchalmers commented on #84
barcodelib targets **.NET Standard 2.0** so you'll need to target at least **.NET Framework 4.6.1** to use it.
https://docs.microsoft.com/en-us/dotnet/standard/net-standard

you should also be using Visual Studio 2019 as .NET Standard didn't even exist in 2015.

[2020-04-07 05:19] Guyz1 commented on #84
well i managed to install it by downloading the package from nuget and then manually adding the barcodestandard.dll to the references

rebuild the solution..
and I'm glad it works!

I don't know what strange weird things are preventing me from installing via nuget so doing like i did manually seems to always work

[2020-04-07 05:19] #84 closed

[2020-04-08 17:59] kinguru opened #85 "Exception: EGENERATE_IMAGE-2: Image size... less than 1 pixel"
Hi!
I'm calling a lib like shown below on the screenshot and getting exception about 1px.
How should I generate a barcode?

![image](https://user-images.githubusercontent.com/54497/78817371-ba61ed00-79db-11ea-8d23-c014875e929d.png)

Thank you

[2020-04-08 18:21] binki commented on #85
Hi @kinguru

This means that the default width of the image which `BarcodeLib` would try to generate is too skinny such that some bars which must be present could be invisible, preventing it from scanning. You can make it wider. The default value is 300, but maybe 500 would work. Maybe doing something like the following would work for a GUID?

[code]

If you still get the same error, increase the

[2020-04-08 18:27] kinguru commented on #85
The case is that I need minimum width barcode :) I know it is 420-450 px but could vary... As I understand there is no reason for you to limit it to some default value (300?) as you should already know the length of barcode generated.

[2020-04-08 19:21] binki commented on #85
@kinguru I see. It looks like you should be able to do this with the [`Barcode.BarWidth`](https://github.com/barnhill/barcodelib/blob/bbd961bcb1293af1144d2f2a1f18d9f108e7ddfd/BarcodeStandard/BarcodeLib.cs#L179) property. Here is an example of using that property:

[code]
Some image widths I got were 607px, 541px, and 563px—seems like it is a variable width encoding ;-).

[2020-04-14 18:39] MrArif-5 opened #86 "Could not install package 'BarcodeLib 2.2.5'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5.2', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author"
![Screenshot (11)](https://user-images.githubusercontent.com/57086628/79261210-1f6e8480-7ead-11ea-89bc-47a24e1fc577.png)

am trying more time it was display version issue vs2017 using while adding DLL from ManageNuget pakkage Brad Barnhill please give me solution

[2020-04-14 19:12] binki commented on #86
Hi @MrArif-5

BarcodeLib-2.0.0 and newer require NETStandard-2.0. You are targeting .NET 4.5.2 which, according to, https://docs.microsoft.com/en-us/dotnet/standard/net-standard#net-implementation-support , is not *fully* supported until .NET 4.7.2. You have two options and you must choose one based on your situation. If possible, the first choice is preferred because it will have you running the

[2020-04-15 06:10] MrArif-5 commented on #86
yes issue resolve am following your instruction Brad Barnhill, Thank You

[2020-04-15 06:10] #86 closed

[2020-04-15 06:15] MrArif-5 opened #87 "passing string Object Generate barcode image based on my form Data"
One of my Question Is How it is poosible generate barcode from StringOf Object am passing  one paramter as a string it contain string Object getting from Form and Generating barcode image , it is possible please help me ?
Following Resfull api My Code c#
![Screenshot (12)](https://user-images.githubusercontent.com/57086628/79304255-81130b00-7f0e-11ea-8b5c-c62ddb843ff8.png)

[2020-04-16 06:33] #87 closed

[2020-04-27 01:45] barnhill commented on #85
this error is valid in that it lets you know you are trying to generate an image smaller than it can draw it.  It cant draw  bars less than 1 pixel so if it determines the width of the barcode wont hold the whole image when drawing 1px width bars ... it throws this.  (As @binki alluded to)

[2020-04-27 04:53] barnhill commented on #65
Closing as resolved with https://github.com/barnhill/barcodelib/commit/39f691a29071f2cfed0cc15f0107b9dc31cd0e66

[2020-04-27 04:53] #65 closed

[2020-05-27 08:09] kzimny opened #88 "Barcode without white border"
How to generate barcode without white border on left and right side?
![image](https://user-images.githubusercontent.com/12007674/82994260-25a26580-a002-11ea-93de-2e0f45849e35.png)

[2020-05-30 03:13] binki commented on #88
Hi @kzimny,

The default setting is to use a [`Width` of 300 pixels](https://github.com/barnhill/barcodelib/blob/bbd961bcb1293af1144d2f2a1f18d9f108e7ddfd/BarcodeStandard/BarcodeLib.cs#L47). Different values can result in different widths of the the bars. If you want the barcode’s width to be calculated based on how wide the barcode has to be to display the data, you can set the [`BarWidth`](https:

[2020-05-30 08:15] kzimny commented on #88
Yes, it works perfectly! Thank you very much. Great library.

[2020-05-30 08:15] #88 closed

[2020-06-10 05:06] MrArif-5 opened #90 "why am getting Trial-Barcode on Barcode Images"
![20200521232649](https://user-images.githubusercontent.com/57086628/84229036-396fc080-ab06-11ea-8def-546ad129e6e1.Jpeg)

[2020-06-10 06:31] binki commented on #90
@MrArif-5 I think you are probably putting that there yourself? What NuGet package are you using? Can you show the code that you used to generate that barcode image? Are you sure this GitHub repository is related to what you’re doing?

[2020-06-11 00:46] barnhill commented on #90
@MrArif-5 this is not coming from the library.  Nothing in here generates that.

[2020-06-11 03:47] barnhill commented on #90
You can probably contact these people since it appears you are using their library and not this one.  http://www.onbarcode.com/support/

[2020-06-11 03:47] #90 closed

[2020-07-06 11:17] Matamanthemaster opened #92 "NullReferenceException when using US EAN13s."
Hello.

I installed your lib through NuGet, v2.2.5 and am unable to generate any EAN13 beginning with 0, which is a US range. beginning with 02 also caused the issue, however 20 was encoded (though the label was a slightly unexpected value). It throws a NullReferenceException when trying to encode an image, and if I try to use GenerateBarcode(), it appears as most fields are null.
![image](https:/

[2020-07-07 05:55] crazybod opened #93 "Looking for some document"
where can I find the document and explaination for the fields or attributes,please!

[2020-07-22 14:14] antoineloos commented on #92
I have the same bug here, any update or workaround ?

[2020-07-23 18:36] Pushan12 commented on #92
![image](https://user-images.githubusercontent.com/21195975/88324369-3d1b7780-cd41-11ea-8589-164a2602e0be.png)
Need to tweak something like this to get. I tried and got
this
![image](https://user-images.githubusercontent.com/21195975/88324525-6f2cd980-cd41-11ea-8f47-6e6003c10acc.png)

[2020-07-24 05:16] barnhill commented on #85
@binki Im gonna close this out unless you think we should leave this open?

[2020-07-24 15:40] binki commented on #85
@barnhill It looks ready to be closed to me, please go ahead!

[2020-08-06 10:00] bmojanoski commented on #45
Is there a solution for second bug?

[2020-08-17 18:01] kvprasad opened #94 ".net 4.6"
Hello Brad,

What .Net Framework does this support? I am getting error for .Net 4.6

Regards,
Prasad

[2020-08-18 02:16] sinhngoc2008 opened #95 "Wrapper on barcodelib"
Hello
I wanna write a wrapper on your lib for my purpose but I got not thing when I use function GenerateBarcode();
I read your code and I think there may have some points that is not correct yet.
- In GenerateBarcode() function. It should be "return ibarcode.Encoded_Value;" instead of "return this.Encoded_Value;". Because Encoded_Value contain nothing.
- From the Endcode() function. It should be

[2020-08-20 04:10] barnhill commented on #94
Im using 4.6.2 in the example application in the repo

[2020-08-20 04:11] barnhill commented on #94
closing as answered

[2020-08-20 04:11] #94 closed

[2020-08-20 04:12] barnhill commented on #93
That would be nice wouldnt it :) I wish I had time to dedicate to generating documentation for this.  I would love the help doing that if you want to contribute to the project I do accept pull requests.

[2020-08-20 04:13] barnhill commented on #93
The example in the readme is pretty explanatory

[2020-08-20 04:14] #93 closed

[2020-08-20 04:18] barnhill commented on #95
Actually its  `GenerateBarcode();` that should return nothing.  So Ive changed that method to be a `void` return type.  It generates the object ibarcode and then that is used throughout the reset of the encode method.

[2020-08-20 04:23] barnhill commented on #95
I changed it to:
`this.Encoded_Value = GenerateBarcode();`
even though this is probably a left over from the early days and just never got consolidated the functionality is still the same.  But `GenerateBarcode()` now will return a value in the next release.

[2020-08-20 04:27] barnhill commented on #95
Published 2.2.6 which fixes this just now.  Closing issue.

[2020-08-20 04:27] #95 closed

[2020-08-20 04:29] barnhill commented on #92
![image](https://user-images.githubusercontent.com/3878158/90716938-cc01ae00-e273-11ea-9c43-38c648c891ae.png)

[2020-08-20 04:29] barnhill commented on #92
Im unable to reproduce.  Any other suggestions on recreation?

[2020-08-20 04:30] barnhill commented on #85
Closing this as answered

[2020-08-20 04:30] #85 closed

[2020-08-20 13:58] Pushan12 commented on #92
Let me try and tweak in your application. I have tweaked it my application.

On Thu, 20 Aug 2020, 10:00 Brad Barnhill, <notifications@github.com> wrote:

[2020-08-25 14:04] Matamanthemaster commented on #92
I statically analysed your example and using your data from your last post. I still got this exception thrown. If in visual studio I say to not break on the exception thrown by BarcodeStandard.dll, then it will generate the barcode. This only occurred however when using US EAN13s ans stated prior, as no exception is thrown using other EANs I tried. I guess I didn't know how to use visual studio fo

[2020-08-25 14:04] #92 closed

[2020-09-02 04:43] barnhill commented on #92
If you are generating a lot of barcodes with that code above you are going to be creating a lot of objects in that getter which might cause a lot of GC.

[2020-09-04 14:44] mpondo opened #96 "Security warning for XML deserialization"
While doing a security review of the library before including it in a project, the code for deserializing from xml was raised as a potential security concern.  This occurs in both GetImageFromXML and GetSaveDataFromFile.

Here is a link to information about the Security warning:
https://docs.microsoft.com/en-us/visualstudio/code-quality/ca5369?view=vs-2019

[2020-10-29 14:54] makuep opened #97 "Interleaved2of5_Mod 10 checksum calculation is not correct"
There are two problems in the algorithm:
1. it sums up the ASCII value of the chars not the integer value. Either char.getNumericValue or some char magic like  RawData[i]-'0' should be used.
2. the result should be the number that when added to the sum is a multiple of 10. So "10 - (sum%10)".

[2020-11-06 22:40] sogrbilja opened #98 "Missing HorizontalResolution and VerticalResolution"
If you can add:

[code]

and then

[code]

and then:

[code]

It would be great!

Thanks for this tool!

[2020-11-08 17:45] barnhill commented on #98
Whoops didn't mean to close it 🤣

[2020-11-11 06:26] ashishgehlot opened #99 "Which default font is used to display barcode label ?"
![test](https://user-images.githubusercontent.com/26749354/98776152-7244f600-2414-11eb-9e62-435ffafb8f52.png)

Which font is used to display label ? If its Arial then note small tale after digit 4 (from MS word). This tale is missing in barcode image attached above.
![image](https://user-images.githubusercontent.com/26749354/98776377-d10a6f80-2414-11eb-9aef-db797f5d95e1.png)

[2020-11-17 21:59] sogrbilja commented on #98
No problem Brad :)

On Sun, Nov 8, 2020 at 6:45 PM Brad Barnhill <notifications@github.com>
wrote:

--
Dejan

[2020-11-23 06:55] ashishgehlot opened #100 "Barcode label is getting cut"
On Hight dpi system, barcode label is getting cut.

![image](https://user-images.githubusercontent.com/26749354/99935389-9b577600-2d86-11eb-81cf-b6016ecb6f4c.png)

On other system is generating like below (Expected):
![image](https://user-images.githubusercontent.com/26749354/99935552-f1c4b480-2d86-11eb-9801-0984ddde38c4.png)

[2020-11-23 08:29] binki commented on #100
@ashishgehlot I do not think that BarcodeLib gives different results on a hiDPI system. I suspect the issue is outside of BarcodeLib. Do you have a sample of code which is causing the issue or instructions on how to reproduce this?

[2020-11-23 15:36] #99 closed

[2020-11-23 16:22] ashishgehlot commented on #100
Hi @binki, Here is minimal sample built that I wanted to achieve. On High Dpi system(2k+ resolution)  label height increases and due to that barcode height reduce and become non-scannable. I am trying to add barcode on pdf. Its working fine on my system (1366*768) 96dpi.

[code]

[2020-11-23 16:30] binki commented on #100
@ashishgehlot Based on the little information I have, it sounds like the issue is in the display layer of your application. It is probably something like this: you have set the image control in your GUI library to have a pixel-based size and you are trying to display the image as if it were 96DPI. The GUI library is doubling the size of the image when it displays which would work if you let the si

[2020-11-23 16:45] ashishgehlot commented on #100
@binki Application is in WPF which is already DpiAware. Here is repository URL for reproduction (forgot to add).
In this application we are generating a barcode and stamping on pdf at particular location. Please have a look.

https://github.com/ashishgehlot/BarcodeStampDemo.git

[2020-11-23 22:44] binki commented on #100
@ashishgehlot OK, after some investigation, I have found that this sort of is a gotcha in BarcodeLib. There is a workaround:

[code]

I am going to look into creating a PR which makes BarcodeLib behave consistently regardless of system DPI.

We probably haven’t noticed this before because the BarcodeStandardExample application is winforms and has DPI scaling disabled (so Windows makes it think the

[2020-11-24 01:09] binki commented on #98
Not really for or against this idea personally. However, I would like to note that a more correct value for a default resolution would be 96 (rather than 72). This is the resolution that Windows emulates for old applications which do not declare themselves to support HiDPI and it is the traditional expected default screen resolution. When the BarcodeStandardExample application runs, this is the ef

[2020-11-24 01:17] barnhill commented on #99
Did you figure it out?

[2020-11-24 01:26] barnhill commented on #100
We should redo the example app in WPF and get it up to this century :)

[2020-11-24 03:17] binki commented on #100
@barnhill

Hehe. I actually have more experience with winforms (and still not all that much experience with it). It *is* possible to make winforms opt into DPI scaling and even multi-monitor DPI support (which is what keeps applications from going blurry), but it is certainly much cleaner with WPF.

[2020-11-24 04:50] binki commented on #99
That font is Microsoft Sans Serif, Bold, rendered at 13.3333px. It also should have a tail on the 4, but due to it being rendered without smoothing to keep the text looking sharp, that tail probably gets cut off.

If I force the font size to be one pixel bigger in the debugger, you can start seeing that tail:

![barcode with 4 showing a tail](https://user-images.githubusercontent.com/82626/1000500

[2020-11-24 10:42] sogrbilja commented on #98
Well, default resolution can be any, but the most important is that we need the property or method to set one.

[2020-11-24 15:50] ashishgehlot commented on #100
Hi, For workaround, I have disabled HighDpiAwerness by adding App.Manifest file. It worked for me at least.

[code]

[2020-11-24 15:50] #100 closed

[2020-11-24 17:21] binki commented on #98
Yeah, I agree. I think that a good first step would be to have all creations of `Bitmap` in barcodelib preset the resolution to 96DPI to avoid issues where otherwise the system’s DPI might be used, leading to different behavior on different systems.

[2020-11-24 17:43] binki commented on #100
@ashishgehlot Yes, that is a way to work around the issue. It is unfortunate because it means your application will appear blurry for users. I think you should prefer the code work around I suggested. However, that is up to you ;-).

We will still be updating BarcodeLib so that this issue won’t happen for future users :-).

Thanks for the report!

[2020-11-27 19:24] barnhill commented on #96
Ill take a look at this.

[2020-11-27 19:35] barnhill commented on #97
I suspect that you were referring to the `CalculateMod10CheckDigit` method?

[2020-11-27 19:41] barnhill commented on #97
Have a look at https://github.com/barnhill/barcodelib/pull/103 as the proposed fix for this. @makuep and @binki

[2020-11-30 02:42] barnhill commented on #98
Closing this as fixed with #102 and will log an issue to expose the property to have this be flexible

[2020-11-30 02:42] #98 closed

[2020-11-30 02:43] barnhill opened #106 "Expose DPI resolution property"

[2020-11-30 03:04] barnhill opened #108 "Update to latest System.Drawing.Common NUGET package"
Currently the library is using v4.5.1 of System.Drawing.Common and should be updated to the latest at the time this ticket is worked

[2020-11-30 03:44] binki commented on #106
See #98

[2020-11-30 04:45] #106 closed

[2020-11-30 04:46] barnhill commented on #97
Closing this with #103

[2020-11-30 04:46] #97 closed

[2020-11-30 16:15] binki opened #111 "Interleaved 2 of 5 doesn’t seem to reflect data"
![image](https://user-images.githubusercontent.com/82626/100634374-3ad3b600-32fd-11eb-997f-64ca051635d5.png)

The pattern in the middle doesn’t change when I change the input “Value to Encode”. Same with Interleaved 2 of 5 mod 2.

[2020-12-02 14:07] barnhill commented on #111
ugh oh ... yep we should look into this asap.  Just released the fix for S2of5 last night

[2020-12-05 23:08] barnhill opened #113 "Standard 2 of 5 encoding is incorrect"
![Capture](https://user-images.githubusercontent.com/3878158/101267305-d2317280-371c-11eb-8306-5a369f518e79.JPG)

[2020-12-06 06:02] #111 closed

[2020-12-10 19:59] pablopioli commented on #113
See it resolved in 2.2.9. Thanks!

[2020-12-19 04:17] oSethoum commented on #113
How did you put the image there ? Am looking for a way to load the image generated to the Image xaml tag.

[2020-12-19 04:22] barnhill commented on #113
I put the generated image into an Image control.  Pretty simple.

[2021-01-06 11:22] abhijeetk1810 opened #114 ".net 4.0 Support?"
Hello All,

I am trying to install via NuGet and getting the following error:

Installing 'BarcodeLib 2.2.9'.
Successfully installed 'BarcodeLib 2.2.9'.
Adding 'BarcodeLib 2.2.9' to Library Management System.
Uninstalling 'BarcodeLib 2.2.9'.
Successfully uninstalled 'BarcodeLib 2.2.9'.
Install failed. Rolling back...
Could not install package 'BarcodeLib 2.2.9'. You are trying to install this pack

[2021-01-07 04:23] barnhill commented on #114
Maybe it's the transitive dependency?

Brad Barnhill, MSN, RN
bradbarnhill@hotmail.com

On Wed, Jan 6, 2021, 5:23 AM abhijeetk1810 <notifications@github.com> wrote:

[2021-01-11 01:26] barnhill commented on #114
Not sure that the dependency `System.Drawing.Common` supports 4.0.0

https://www.nuget.org/packages/System.Drawing.Common/

[2021-01-11 13:32] SreeKrishnatsr opened #115 "How to display Barcode below the image?"
I would like to display barcode bottom of the image, So when user unable to scan they can read the value

[2021-01-11 17:00] binki commented on #115
Hi @SreeKrishnatsr

The text inside the barcode image is called a “label”. You can enable the label by setting the `IncludeLabel` property to `true`. For example, if you have code like this:

[code]

you can alter that to the following to show the label:

[code]

[2021-01-11 17:00] #115 closed

[2021-01-17 05:09] #113 closed

[2021-01-19 09:36] danielchalmers commented on #114
barcodelib targets [.NET Standard 2.0](https://devblogs.microsoft.com/dotnet/announcing-net-standard-2-0) which requires at least 4.6.1

[2021-01-19 15:39] barnhill commented on #114
Closing per @danielchalmers comment

[2021-01-19 15:39] #114 closed

[2021-01-20 05:49] barnhill commented on #96
Addressed in https://github.com/barnhill/barcodelib/pull/117

[2021-01-20 05:50] barnhill commented on #108
Addressed in https://github.com/barnhill/barcodelib/pull/117

[2021-01-20 05:50] barnhill opened #118 "Add JSON Serialization"

[2021-01-20 05:50] barnhill commented on #118
Added in https://github.com/barnhill/barcodelib/pull/117

[2021-01-20 05:56] barnhill commented on #45
The label logic needs some work Im afraid and all barcode types have different label formats

[2021-01-22 10:47] marcobeninca71 opened #119 "Is it possible to generate Data Matrix 2D barcodes?"
Hello avrybody
Does BarcodeLib generate data matrix 2D barcodes?
Thanks
Marco

[2021-01-28 15:02] teunlielu commented on #45
My suggestion is:

change  0,5f to 0,72f in follow code
then you end up with dashes above just 100%, but I think this is fairly easy to adjust
@barnhill ?

        /// <summary>
        /// Draws Label for EAN-13 barcodes
        /// </summary>
        /// <param name="img">Image representation of the barcode without the labels</param>
        /// <returns>Image representation of the barcode with

[2021-01-29 05:03] barnhill commented on #119
No it doesnt do 2d barcodes but pull requests are welcome to setup a framework to add 2d barcodes and merge those in!

[2021-01-29 05:03] #119 closed

[2021-01-29 05:15] barnhill commented on #45
![image](https://user-images.githubusercontent.com/3878158/106234600-be573980-61be-11eb-8729-8072d2b62773.png)

[2021-02-10 13:57] davidkdb opened #120 "Barcodelib stopped working"
When trying to run our C#, Framework 4.8 project now, we get this:

![image](https://user-images.githubusercontent.com/57062216/107518918-df049380-6baf-11eb-8872-3c4e8edf3ac5.png)

It was working before. Also tried to update to 2.2.10 with same issue.

All our nugets/references are latest versions, and I suspect the problem for barcodelib is there somewhere.

[2021-02-10 14:48] barnhill commented on #120
I'll take a look.

[2021-02-10 19:53] HelloNewW opened #121 "The referenced component 'BarcodeStandard' could not be found."
Hi

I can`t find  BarcodeStandard reference file

"The referenced component 'BarcodeStandard' could not be found."

Any Idea ?

[2021-02-11 04:57] binki commented on #121
@HelloNewW

That is kind of a generic error which could have any number of different causes.

Are you able to share your solution somewhere so that we can look at it and check it out for any issues?

What .net runtime does your project target? Does it target an older version of .net framework? You may need to update it to target .net-4.7.2 or newer.

Did you install the reference using the Nuget p

[2021-02-11 05:06] binki commented on #120
@davidkdb What style of NuGet package references are you using? Do you have `packages.config` in your project? How did you update to the latest version of BarcodeLib? Are you able to reproduce it in a small solution/project and share that?

[2021-02-11 08:34] HelloNewW commented on #121
Hi,

I am using VS2013
try target  to    .net-4.7.2\.net-4.8   latest runtime

My project
https://file.io/SzNo3WqdKc6O

Installing 'BarcodeLib 2.2.10'.
Successfully installed 'BarcodeLib 2.2.10'.
Adding 'BarcodeLib 2.2.10' to BarcodeStandardExample.
Uninstalling 'BarcodeLib 2.2.10'.
Successfully uninstalled 'BarcodeLib 2.2.10'.
Install failed. Rolling back...
Could not install package 'BarcodeLib

[2021-02-11 14:49] binki commented on #121
@HelloNewW

I would try VS2019 or at least VS2017 if that is an option. Older versions likely do not support the modern way of doing NuGet package installs well. Are you able to upgrade or do you need to use VS2013? I am not sure we have the resources to update the modern builds of BarcodeLib to support ancient build tools.

What version of the NuGet package manager extension do you have installed

[2021-02-11 15:43] HelloNewW commented on #121
Hi,

Yes is true , NuGet package manager version  2.12.0.817.
Then I will try to upgrade my VS version.
Or maybe I will search an old solution that convert string to encode string of code 128 without the barcode image.

I really appreciate your comment and your time ...
Thank you Nathan Phillip Brink

[2021-02-11 16:36] barnhill commented on #121
Im pretty sure that VS2019 is free ...

[2021-02-11 16:58] #121 closed

[2021-02-11 20:57] HelloNewW opened #122 "string to code128 string (not binary)"
Hi,

I be able to load your project on VS 2019 :-)
When I encode the value 123456 with code 128, I getting that long bin value 1101001110010110011100100010110001110001011011000010100100011101101100011101011

Is is possible to get the (short) encode string ? (The ASCII value, I think, something like that ÍKLÈ3.323LÎ )
I want to use that encode string with code 128 font to get the barcode image

[2021-02-12 06:25] binki commented on #122
@HelloNewW

It would be a bit odd to pack those as ASCII characters, but you can certainly use various string manipulation to reencode the string any way you want. As there is no standard way of doing this or use-case for it, it’s up to you to do what you want with it.

Are you certain you want to do this, though? The return value of `Barcode.GenerateBarcode()` is a description of where bars would

[2021-02-12 06:25] #122 closed

[2021-02-12 11:44] jangernert opened #123 "Different behavior of DataTable with unicode in NET 5"
First things first: everything seems fine in .NET Framework (4.7/4.8) and .NET Core 3.1

Switching to NET 5 causes unicode characters (`\u0014` & `\u0012` in my case) to always get encoded as generic space. I tracked the issue down to the select method of the `DataTable C128_Code;`. In net core querying a unicode character returns only the desired `DataRow`.

NET 5 however behaves differently, as

[2021-02-12 13:02] jangernert commented on #123
I found some information on the breaking NET 5 change: https://docs.microsoft.com/en-us/dotnet/standard/base-types/string-comparison-net-5-plus

But no easy fix. The bug seems to exist with .NET Core as well, but only on non-windows platforms. My guess is that something goes wrong dissecting the query string inside of [`DataTable`](https://github.com/dotnet/runtime/blob/master/src/libraries/System

[2021-02-12 13:15] davidkdb commented on #120
I use the Manage Nuget Packages (right click on project file).

No packages.config, but app.config.

I always update the Nugets to latest version using Manage Nuget Packages, including Barcodelib.

I suspect that I have updated some NuGet that is not compatible with BarcodeLib.

It's not possible to create a small project because I have references to internal dlls, and it would be difficult anyway

[2021-02-12 15:08] binki commented on #123
I haven’t looked directly, but I would guess that getting rid of `DataTable` and instead using different structures like `Dictionary<TKey, TValue>` or `ToLookup` could make things more type-safe and clearer and probably faster too. If it also fixes a portability issue, that is probably the right way to go.

[2021-02-12 15:13] jangernert commented on #123
That's also a way to solve this. I wanted to introduce minimal changes as this was the first time I took a look at the code.

[2021-02-12 15:18] binki commented on #120
Good. `packages.config` is the old way of doing NuGet. Not having it probably means you’re using `<PackageReference/>` which should generally have fewer issues.

It is difficult, but without this, we might not be able to help you. You or one of your colleagues with access to the project may be the only people able to track down and identify the problem.

Based on googling, this might be intended b

[2021-02-12 15:30] davidkdb commented on #120
Good news!

You were right. By using a try/catch around it it worked. And I ignored the error in the IDE.

But anyways this has changed, and you should keep it in mind. It was not throwing an exception before.

[2021-02-12 15:40] davidkdb commented on #120
I looked at the link. It would be much better if you handled this in your code, so it doesnt produce any errors pack to calling program.

[2021-02-12 18:41] binki commented on #120
You shouldn’t need to have a `try{}catch{}` around that. The point is that people think this exception is thrown and handled in MS’s code, so there’s nothing for us to catch. It’s just that your debugger settings are causing you to see the exception because your debugger is set to exceptions even if they’re handled.

Is there a different exception being thrown which you are trying to debug? If the

[2021-02-13 01:48] barnhill commented on #123
Do either of you want to create a PR?

Brad Barnhill, MSN, RN
bradbarnhill@hotmail.com

On Fri, Feb 12, 2021, 9:13 AM Jan Lukas Gernert <notifications@github.com>
wrote:

[2021-02-13 04:11] jangernert commented on #123
I can give it a try early next week.

[2021-02-14 08:27] #120 closed

[2021-02-14 13:03] HelloNewW commented on #122
Perfect!!!

[2021-02-14 15:47] HelloNewW commented on #122
Hi,

My goal is to encode string to small value .
write that value to a txt file.

load that file to machine software that read the file and has code128 font (that I need to find) .
that software will print the data on the label with barcode characters of that value

Which value it better to forward ?
Where can I find font 128 that working ... ?

Thanks

[2021-02-15 00:05] binki commented on #122
Hi @HelloNewW

I thought that things like CODE128 fonts worked differently than that. The idea with such a font would be that you write the letter “a” and then the font renders “a” as one of the bar sequences used to represent “a”. To use such a font, you do need to be somewhat aware of how the barcode works so that you can use a character to represent the bar sequence that occurs at the beginning

[2021-02-20 03:41] #96 closed

[2021-02-20 03:41] #108 closed

[2021-02-20 03:41] #118 closed

[2021-05-10 08:08] aliChavoshi opened #129 "Please Add Send Image To Printer"
Please Add Send Image To Printer  Thanks

[2021-05-11 06:08] barnhill commented on #129
I don't think that belongs in this library. This generates the image and then using .net you can send it to a printer already.  Everyone will want it formatted differently when printed, or printed on different paper sizes etc

[2021-05-12 13:52] aliChavoshi commented on #129
I User Print Document Library in c#
Thanks

[2021-05-12 14:21] binki commented on #129
@aliChavoshi

I don’t know this library. Could you provide a link to help me understand you?

Thanks.

[2021-05-16 05:29] aliChavoshi commented on #129
Please come to my GitHub and check out the barcode project

[2021-05-26 01:56] barnhill commented on #129
Closing this as answered.

[2021-05-26 01:56] #129 closed

[2021-05-27 02:55] #123 closed

[2021-06-15 18:50] vyuzhanin opened #132 "Barcode creation before Application.Run produces for a huge font"
**Barcodelib:** 2.40
**Platform:** net5.0-windows

When I try to create the instance of Barcode class before I run wInforms application then it draws a huge font on main form. Here is code to rperoduce the issue:
[code]

Here is the example with normal font:
![image](https://user-images.githubusercontent.com/596514/122106711-ee783f80-ce22-11eb-9f4f-092d20396e83.png)

Here is the example with huge

[2021-06-15 19:12] binki commented on #132
This is one of the reasons that [the documentation recommends against using `SetHighDpiMode()`](https://docs.microsoft.com/en-us/windows/win32/hidpi/setting-the-default-dpi-awareness-for-a-process). You should, if possible, set this value in the application manifest. Or make sure it is **the very first thing** your application does—**prior to initializing other libraries**. In fact, since BarcodeL

[2021-06-15 19:59] vyuzhanin commented on #132
I wish I could to fix it faster but I have a big dependency injection procedure before creating a main form. Sure I'll apply some patterns like lazy load to barcodelib and dependencies which is runnig the library but anyway it seems strange.

[2021-06-15 20:29] binki commented on #132
If you are using winforms, that is sort of something that must exist outside of dependency injection. A GUI application is already a special thing on Windows…. As the documentation I referenced states, you really should be specifying HiDPI in your application’s manifest instead. Then this wouldn’t even matter. Is that not an option for you?

[2021-08-18 19:24] tinohager opened #134 "Difference in the output"
We have been using `NetBarcode` until now, and are currently looking into switching to their project. We have noticed a difference in the output.

For the topmost Code 39 barcode, the last bar is shorter and the image is shifted one pixel to the right. The same happens with code 128, i have only checked the 2 so far.

[code]

barcodelib
![image](https://user-images.githubusercontent.com/8215186/12

[2021-08-18 20:11] tinohager opened #135 "Wide bar to narrow bar width"
Hi, i am work on a Zebra Zpl Viewer in the `zpl` language it is possible to set the `Wide bar to narrow bar width`. I search a configuration for this. According to Zebra's documentation, it should be configurable on the following barcodes: Code 11, Interleaved 2 of 5, Standard 2 of 5, Code 39, ANSI Codabar, LOGMARS, MSI, Plessey

Do you have a suggestion for me how I could set this?

![image](http

[2021-08-24 06:07] LordPinhead commented on #135
So first of all, the picture that is rendered has only a 72dpi resolution per default I think.  Set HoritontalResolution  and VerticalResolution to what need or you end up with the wrong bar size later.

I´ve changed it to a 300dpi resolution picture and automatically calculated the width again when a bar was smaller than 1px. Sadly, I don´t have the code anymore. My ex-boss and I got in a fight a

[2021-08-30 05:43] LordPinhead commented on #135
I use the http://labelary.com/viewer.html online viewer, the Documentation of ZPL and just design them per hand. When  I´m finished, I print a testlabel out manually and if everything is ok. I put in placeholders for the field data (FD) in the form of {MyVariable} and use it in our C# App.

That works for years now. This lib I use for the Code128 labels of my prior company and here, I use it for t

[2021-09-01 01:58] barnhill commented on #135
All bars are honestly the same width when encoded to 1s and 0s.  Multiple 1s next to each other draw perceiveable wider bars even though the actual bar width is the same.  Configuring bar width independent of each other like that does not sound like it would ever be valid.

[2021-09-01 06:18] LordPinhead commented on #135
Maybe not, on Wikipedia, the Code 11 explanation says there are different bar widths for left, middle and right. How can a scanner read this though?

[2021-09-01 13:21] barnhill commented on #135
I guess I should explain that how they are encoded is using a standard bar width.  A wide bar is proportional to a narrow bar so narrow bar widths can be used to draw wide bars.  Independent widths non-proportional to each other Im sure renders barcodes unreadable.

[2021-09-01 13:26] tinohager commented on #135
In the Documentation of zebra is this information available

![image](https://user-images.githubusercontent.com/8215186/131679461-7b91a7f9-db95-4c8d-9ee7-69a0db7c6675.png)

[2021-09-01 19:14] yuriyolshevskyy commented on #134
The compiled EXE encodes UPC-A 000000123456 that reads 000000123457 by the scanner.
![image](https://user-images.githubusercontent.com/35158269/131730264-78e6f2c6-0a0e-4dee-8e10-a82e97302c41.png)

[2021-10-19 21:56] rangiorabakery opened #136 "Could it support GS1 128 / EAN128??"
Could it support GS1 128 / EAN128?

[2021-11-08 11:57] roland78 opened #137 "QR Code"
Hello,

Any plans on supporting QR Code? (https://en.wikipedia.org/wiki/QR_code)

[2021-11-08 15:35] barnhill commented on #137
I'd love to!  Just need to get the community to help implement it

Brad Barnhill, MSN, RN
***@***.***

On Mon, Nov 8, 2021, 5:57 AM roland78 ***@***.***> wrote:

[2021-11-08 19:36] rob313663 commented on #137
QR is like 10 times harder than implementing all the 1D barcodes there is.
Reed Solomon algo and stuff, above my math knowledge. There are open source
implementations for QR. Search for Zxing.

/rob

On Mon, Nov 8, 2021, 16:35 Brad Barnhill ***@***.***> wrote:

[2021-12-14 09:12] chvvrajesh opened #138 "Issue with underscore in input."
Hello,

Unhandelled exception while trying to generate barcode(39) for input that contains underscore(_).

Any workaround for this issue?

![image](https://user-images.githubusercontent.com/3823688/145968371-a6ee89e2-0974-4584-ac70-be3c3e7e5888.png)

Thanks

[2021-12-21 21:34] rob313663 commented on #138
Underscore is not a valid character in Code 39. Could have been a more
specific exception maybe.

If you can, use Code 128 instead.

https://en.m.wikipedia.org/wiki/Code_39

/rob

On Tue, Dec 14, 2021, 10:12 chvvrajesh ***@***.***> wrote:

[2021-12-27 08:57] Atomosk opened #139 "static DoEncode returns disposed Image"
Also calling Encode multiple times does not dispose previously generated image.

I think the `_Encoded_Image` field should be removed from the `Barcode` class. Methods like `GetSizeOfImage` and `SaveImage` are just facade on top of the `Image` and have nothing to do with barcode generation itself, so for a better backward compatibility they can be moved to an image extensions methods.

If those ch

[2021-12-31 15:48] barnhill commented on #139
I welcome all PRs.  I'll review them as they come in.

[2022-04-12 17:27] udlose opened #141 "Doesn't work on .NET 6 and Linux"
This Nuget package has a dependency on `System.Drawing.Common`.  The `System.Drawing.Common` Nuget used to be supported via libgdiplus however, as of .NET 6, Microsoft made the decision to make a breaking change and deprecate libgdiplus. Thus, this package no longer works on .NET 6 running on Linux.

See here [System.Drawing.Common only supported on Windows](https://docs.microsoft.com/en-us/dotnet

[2022-04-13 05:54] barnhill commented on #141
We should migrate this to one of the alternative solutions in the link you provided.

[2022-05-03 17:22] ferrarinim commented on #141
same problem, this library does what I need but my project is net6 and doesn't work :(
Any solution?

[2022-05-03 17:50] barnhill commented on #141
They look like they do offer this mitigation for the short term but getting it moved off libgdiplus is the longer term answer.

<img width="900" alt="Screen Shot 2022-05-03 at 12 50 29 PM" src="https://user-images.githubusercontent.com/3878158/166510438-ae805ec0-5e7b-44ca-af1d-cc207bf78c51.png">

[2022-05-04 23:19] udlose commented on #141
@barnhill if I were to try to put a PR together for the migration off of libgdiplus, what would that look like in terms of turnaround and approval?

[2022-05-04 23:43] barnhill commented on #141
I'll try to take a look asap

[2022-05-04 23:43] barnhill commented on #141
Try to keep the changes to just necessities

[2022-05-05 00:16] udlose commented on #141
@barnhill - do you have a preference on SkiaSharp or ImageSharp?

[2022-05-05 00:21] barnhill commented on #141
I'd have to do some research.  Got experience with either?

[2022-05-05 00:27] udlose commented on #141
I did some very minor work moving our .net 6 web api off of `System.Drawing.Common` and libgdiplus. I migrated to ImageSharp purely out of convenience as it was pulled in by another dev on my team and thus already referenced.

[2022-05-05 00:36] udlose commented on #141
BTW, I noticed a memory leak using `XmlSerializer` (dynamically generated assemblies) as well as an opportunity for perf optimization where you're using `Regex`. I'll open an issue and PR for each.

[2022-05-05 19:11] udlose opened #142 "Dynamic Assembly memory leak"
There is a memory leak in the implementation of `XmlSerializer` usage.  A new `XmlSerializer(typeof(SaveData))` is created every time the following are called:
- `BarcodeLib.ToXML()`
- `BarcodeLib.FromXML()`

This usage creates a dynamic assembly every time the `XmlSerailizer(typeof(T))` constructor is invoked. This results in a memory leak.

**EDIT:** _This usage creates a dynamic assembly every

[2022-05-05 19:41] udlose opened #144 "Regex usage performance opportunity"
Current usage of `Regex.IsMatch(data, @"^\d+$", RegexOptions.Compiled)` in `BarcodeCommon.CheckNumericOnly(string data)` has room for several performance improvements:

It uses the `System.Text.RegularExpressions.Regex.IsMatch(string input, string pattern, RegexOptions options)`.  Behind the scene, the runtime creates a new `Regex` instance (memory allocation) and compiles and caches the Regex.  T

[2022-05-06 02:53] binki commented on #144
Instead you might as well do something like

[code]

[2022-05-08 14:25] barnhill commented on #144
Might be more clear too.

[2022-05-08 16:44] barnhill commented on #142
Destruction of the serializer still leaks?

[2022-05-09 16:49] udlose commented on #144
Just to be clear, all of my perf measurements have been done using .NET 6 as I don't have other versions installed on my dev box.

[2022-05-09 17:23] udlose commented on #142
I clarified the issue and corrected a statement I made.  And in the case of the other (leaky) constructors (which you are not using here), yes, the assembly still leaks.  Dynamically created assemblies aren't cleaned up until the app domain is unloaded even if the object that created them has been GC'd - dynamically created assemblies are not considered a rooted reference.

Have a look here for mo

[2022-05-09 21:37] drusellers commented on #141
@udlose any updates or any task items I can help with? I'm looking for Barcode support on linux with dotnet 6 as well.

[2022-05-10 03:17] #142 closed

[2022-05-10 12:51] barnhill commented on #141
Image sharp is all managed code vs skiasharp uses a bit of c++.

[2022-05-10 15:20] udlose commented on #144
Fixed in merge of PR https://github.com/barnhill/barcodelib/pull/143

[2022-05-10 15:20] #144 closed

[2022-05-10 19:38] udlose commented on #141
@drusellers I haven't had time to start on the migration. Was also waiting to hear if @barnhill had a preference. Feel free to start if you'd like. I'm not sure when I'll have bandwidth for that effort.

[2022-05-10 19:50] udlose commented on #141
Probably the main question that should be answered is what version of ImageSharp to target.  The latest only supports .NET 6.  It looks like earlier versions support lower-level versions.

[2022-05-10 20:12] udlose commented on #141
@drusellers if this is a blocking issue for you and you're unable to start the migration for Barcodelib, you can implement the workaround noted here: [System.Drawing.Common only supported on Windows - Recommended Action](https://docs.microsoft.com/en-us/dotnet/core/compatibility/core-libraries/6.0/system-drawing-common-windows-only#recommended-action)

We had to do this since we were under a time

[2022-06-16 08:42] nasusonetrick opened #145 "A generic error occurred in GDI+. in WPF.Net c#"
[code]

is giving me the error : ( **A generic error occurred in GDI+** ) ???

[2022-06-16 12:44] barnhill commented on #145
What version of the .net sdk are you using?

[2022-06-17 00:36] nasusonetrick commented on #145
im using **4.7 net framework**

the issue was that i didn't use MemoryStream with **using() clause** properly
my apologies for wasting your time .

by the way when the code bar Format is not correct it throw an error , anyway to generate the codebar even if the chars count are less than 13 in ( EAN ) TYPE ?
or should i check for char.Length < 13 , then i change the type ?! which one that accept sm

[2022-06-17 03:36] barnhill commented on #145
Those exceptions are because they are invalid inputs according to the specs.

[2022-06-17 03:37] barnhill commented on #145
The example app has example code in it.  Also no worries on wasting my time. I'm here to try to help 🙂👍

[2022-06-17 03:39] barnhill commented on #145
For large numbers of variable length C128 might be the best option.

[2022-06-17 03:39] #145 closed

[2022-10-20 22:57] barnhill commented on #139
I agree with you that it should be removed.  Ive removed it in a branch Im working on when I get a chance that refactors how the library draws and removes this image as there is no need to hold onto this image at all.

[2022-11-13 19:10] Strahan201 opened #146 "Sizing of barcode to fit data?"
Hello.  This isn't an issue per se, just a question.  I have code where I am fixing the barcode width/height at 300/100.   Worked fine for years, but I'm rewriting the app.  I was making a GUI label editor and for value I had:

%productid%;%price%;%taxable%

There was a bug and instead of properly resolving those tokens, it tried to make a barcode with that as a literal string.  It crashed saying

[2022-11-17 06:07] binki commented on #146
You can set the [`BarWidth`](https://github.com/barnhill/barcodelib/blob/2aded00ae9f9fda932b1b2bb796574a6e4d8fcc9/BarcodeStandard/BarcodeLib.cs#L208) property which causes the `Width` property to be ignored and the width automatically calculated. For example, for the lowest possible width, you can set `BarWidth` to `1`.

If you have a target maximum size which you want the barcode to expand to, yo

[2022-11-17 06:07] #146 closed

[2022-11-18 00:21] Mike-Inasolve commented on #136
Hi Brad,
The Barcodelib is very handy and efficient, love it.

I am having an urgent issue and would appreciate it if you could please assist with some insight.
I am trying to print with GS1-128 barcodes though, it seems that the lib doesn't like barcodes with a length > 25 characters otherwise the barcode is blank.

I'm using this to product GS1 SSCC labels and the SCC label could be a value like

[2022-11-21 07:10] Remo commented on #141
What about this https://ironsoftware.com/open-source/csharp/drawing/docs/ ?

[2022-11-21 15:53] barnhill commented on #141
I have a branch working on this but using another cross platform drawing api

[2022-11-28 00:00] binki commented on #136
@Mike-Inasolve  What width are you using for the barcode? You need to make sure that your image width is at least 500px or so for a barcode that long. In the image generated with a tool, the bar width is thinner than a pixel, so the tool you used generated an image with an unscannable barcode.

If you use an updated version of BarcodeLib from NuGet, you would get a clear error/exception.

If you a

[2022-11-28 00:02] binki commented on #136
@barnhill is this the original comment’s issue addressed? It sounds like they just need to know to use Code128, so this issue could be closed since their question was answered. Am I missing something?

[2022-11-28 00:05] Mike-Inasolve commented on #136
Hi Nathan,

Using the barcodelib from SSRS as an assembly reference.
Works for all other barcodes except the SCC barcodes, doesn’t seem to like anything more than 24 or so chars.

However, we compiled our own DLL and generated the barcodes perfectly fine using the barcode lib so it appears to be an issue in SSRS. We now generate the barcode as a byte array and store it in the db and just pull the

[2022-11-28 06:41] barnhill commented on #136
Are y'all ok closing as not an issue?

[2022-11-28 07:40] Mike-Inasolve commented on #136
Sure, thanks for following up 👍

Kind Regards,
Mike

________________________________
From: Brad Barnhill ***@***.***>
Sent: Monday, 28 November 2022 5:41 PM
To: barnhill/barcodelib ***@***.***>
Cc: Mike Scally ***@***.***>; Mention ***@***.***>
Subject: Re: [barnhill/barcodelib] Could it support GS1 128 / EAN128?? (Issue #136)

Are y'all ok closing as not an issue?

—
Reply to this email directly

[2022-11-30 14:54] barnhill commented on #136
Closing as addressed

[2022-11-30 14:54] #136 closed